---
import Auth from "@/components/Auth.astro";
import LiteVideo from "@/components/LiteVideo.astro";
import Layout from "@/layouts/Layout.astro";
import "@/prism.css";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import ShareComponent from "../ShareComponent.astro";
import { render } from "astro:content";

export type Props = CollectionEntry<"blog">;
const {
  data: { title, medium, cover, type, videoId, description },
} = Astro.props;

const { remarkPluginFrontmatter } = await render(Astro.props);
---

<Layout title={title} description={description} image={cover}>
  <article>
    <div class="w-full h-fit mb-8 p-2 z-[1]">
      <div class="md:max-w-4xl w-full mx-auto">
        <div class="md:px-8 py-6">
          <div class="flex justify-start pb-5">
            <a href="/blog" class="hover:underline font-medium">
              <small> 👈 regresar </small>
            </a>
          </div>
          <h1 class="md:text-5xl text-4xl text-pretty font-bold">{title}</h1>
          <p
            class="font-medium mt-2 md:text-xl text-lg opacity-80"
            set:text={description}
          />
          <div class="flex justify-between items-center mt-14">
            <Auth
              name="Jeferson Estiven Barrero"
              username="jeffercbs"
              medium={medium}
              readingTime={remarkPluginFrontmatter.minutesRead}
            />
            <div>
              <ShareComponent />
            </div>
          </div>
        </div>
        {
          type == "youtube" ? (
            <LiteVideo videoId={videoId || ""} backgroundImage={cover} />
          ) : (
            <Image
              src={cover}
              alt={title}
              width={1000}
              height={700}
              class="object-cover aspect-video rounded-2xl shadow-2xl shadow-secondary/40"
            />
          )
        }
      </div>
    </div>
    <div
      class="md:px-0 px-5 prose prose-invert prose-lg mx-auto prose-h1:first:text-2xl prose-h1:md:first:text-4xl"
    >
      <slot />
    </div>
  </article>
</Layout>
