---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";

type Props = CollectionEntry<"projects">;
const { title, cover, repo, link } = Astro.props.data;
---

<Layout title={title}>
  <article class="hero min-h-dvh">
    <div class="md:h-[500px] h-80 w-full border border-white/20">
      <Image
        src={`/_thumbnails/${cover}`}
        alt={title}
        class="size-full object-cover aspect-video"
        width={1920}
        height={1080}
      />
    </div>
    <div class="flex md:flex-row flex-col-reverse gap-5 border border-white/20">
      <div class="flex-1 w-full pt-20">
        <div class="prose prose-invert prose-lg *:text-pretty md:px-10 px-2">
          <slot />
        </div>
      </div>
      <aside
        class="flex flex-col gap-y-4 md:h-dvh pt-20 h-full border-l border-l-white/20 md:sticky inset-y-0 right-0 md:w-1/3 w-full justify-start px-4"
      >
        <a
          href={link}
          target="_blank"
          rel="noopener noreferrer"
          class="bg-gradient-to-tl rounded-full px-4 py-3 text-lg text-center hover:scale-105 transition-transform ease-in-out hover:shadow-blue-600/30 shadow-2xl from-blue-700 font-medium via-cyan-700 to-green-700 w-full"
        >
          Visitar
        </a>
        {
          repo && (
            <a
              href={repo}
              target="_blank"
              class="w-full rounded-full px-4 py-3 text-lg text-center hover:scale-105 transition-transform ease-in-out bg-black border border-white/30"
              rel="noopener noreferrer"
            >
              repositorio
            </a>
          )
        }
      </aside>
    </div>
  </article>
</Layout>
