---
import Layout from "@/layouts/Layout.astro";
import { type CollectionEntry } from "astro:content";
import Because from "../partials/Because.astro";
import Tools from "../partials/Tools.astro";

type Props = CollectionEntry<"projects">;
const {
  data: {
    title = "Sin titulo",
    description,
    cover,
    repo,
    link,
    stack: { framework, css, database, case: useCase, auth, others },
  },
} = Astro.props;
---

<Layout title={title}>
  <div class="hero">
    <article class="hero min-h-dvh pt-6">
      <div class="flex md:flex-row flex-col gap-5">
        <aside
          class="flex flex-col gap-y-4 md:pr-4 md:h-dvh h-full md:border-r border-r-white/40 pt-8 md:sticky inset-y-0 left-0 md:w-1/3 w-full justify-start"
        >
          <h1
            class="text-5xl font-bold dark:text-white text-black leading-tight"
          >
            {title}
          </h1>

          <p class="dark:text-white text-black opacity-60 mb-5">
            {description}
          </p>

          {
            link && (
              <a
                href={link}
                target="_blank"
                rel="noopener noreferrer"
                class="bg-gradient-to-br rounded-full py-3 text-white text-lg text-center hover:scale-105 transition-transform ease-in-out hover:shadow-blue-600/30 shadow-2xl from-primary font-medium to-indigo-400 w-full"
              >
                Visitar
              </a>
            )
          }
          {
            repo && (
              <a
                href={repo}
                target="_blank"
                class="w-full rounded-full py-3 text-lg text-center hover:scale-105 transition-transform ease-in-out bg-black border border-white/30"
                rel="noopener noreferrer"
              >
                repositorio
              </a>
            )
          }
          <div class="space-y-4 mt-4">
            <div class="flex justify-between py-2">
              <span
                class="text-primary dark:text-primary-forground font-medium"
              >
                Framework</span
              >
              <span class="dark:text-white text-black" set:text={framework} />
            </div>
            <div class="flex justify-between py-2">
              <span
                class="text-primary dark:text-primary-forground font-medium"
              >
                Proyecto
              </span>
              <span class="dark:text-white text-black" set:text={useCase} />
            </div>
            <div class="flex justify-between py-2">
              <span
                class="text-primary dark:text-primary-forground font-medium"
              >
                CSS
              </span>
              <span class="dark:text-white text-black" set:text={css} />
            </div>
            <div class="flex justify-between py-2">
              <span
                class="text-primary dark:text-primary-forground font-medium"
              >
                Database
              </span>
              <span class="dark:text-white text-black" set:text={database} />
            </div>
            <div class="flex justify-between py-2">
              <span
                class="text-primary dark:text-primary-forground font-medium"
              >
                Auth
              </span>
              <span class="dark:text-white text-black" set:text={auth} />
            </div>
            {
              others && (
                <div class="flex justify-between py-2">
                  <span class="text-gray-200 font-medium">Otros </span>
                  <span class="dark:text-white text-black" set:text={others} />
                </div>
              )
            }
          </div>
        </aside>
        <div class="flex-1 w-full">
          <div
            class="prose dark:prose-invert md:prose-lg prose-base mx-auto *:text-pretty"
          >
            <slot />
          </div>
        </div>
      </div>
    </article>
    <Because />
    <Tools />
  </div>
</Layout>
