---
import { getI18n } from "@/i18n";
import CodeDeco from "../CodeDeco.astro";
import { Icon } from "astro-icon/components";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<section
  class="flex relative items-center justify-center h-dvh w-full max-w-dvw overflow-x-hidden"
>
  <CodeDeco
    class="absolute md:flex flex-col hidden right-1 md:top-14 top-0 text-sm"
    codelines={[
      "/**",
      " * HTML",
      " * CSS",
      " * JavaScript",
      " * Responsive Design",
      " * User Experience",
      "**/",
    ]}
  />
  <div class="text-center hero w-full *:text-pretty text-pretty">
    <h1
      class="flex md:max-w-4xl w-full mx-auto flex-wrap justify-center gap-x-2 text-5xl md:text-7xl font-extrabold text-white leading-tight relative"
    >
      <span
        class="absolute -left-3 -top-8 bg-purple-500 size-8 flex justify-center items-center text-white text-lg rounded-full"
      >
        ✦
      </span>
      <span class="relative" set:text={i18n.INTRO_TITLE[0]} />
      <span class="text-white" set:text={i18n.INTRO_TITLE[1]} />
      <span set:text={i18n.INTRO_TITLE[2]} />
      <span
        class="bg-purple-300 px-4 rounded-full text-black"
        set:text={i18n.INTRO_TITLE[3]}
      />
      <span set:text={i18n.INTRO_TITLE[4]} />
      <span class="text-white" set:text={i18n.INTRO_TITLE[5]} />
      <span class="relative bg-green-500 px-3 rounded-lg mx-2">
        {i18n.INTRO_TITLE[6]}
      </span>
      <span
        class="absolute -bottom-5 right-1 bg-yellow-400 size-8 flex justify-center items-center text-black text-xl rounded-full"
      >
        ✦
      </span>
    </h1>

    <div
      class="grid lg:grid-cols-4 grid-cols-2 place-content-center gap-4 pt-12"
    >
      <div class="flex flex-col md:max-w-52 text-left md:order-1 order-2">
        <div
          class="mb-4 bg-green-500 rounded-full size-8 md:size-16 grid place-content-center"
        >
          <Icon name="start" class="md:size-10 size-5 text-yellow-100" />
        </div>
        <h2
          class="text-green-400 font-bold mb-2 text-lg"
          set:text={i18n.INTRO_DETAILS[0]}
        />
        <p set:text={i18n.INTRO_DETAILS[1]} />
      </div>

      <div
        class="col-span-2 md:order-2 order-1 flex justify-center h-fit mt-auto flex-wrap gap-2 text-black *:text-sm font-bold"
      >
        <span class="bg-green-200 px-4 py-2 rounded-full">
          {i18n.INTRO_TAGS[0]}
        </span>
        <span class="bg-yellow-300 px-4 py-2 rounded-full">
          {i18n.INTRO_TAGS[1]}
        </span>
        <span class="bg-gray-200 px-4 py-2 rounded-full">
          {i18n.INTRO_TAGS[2]}
        </span>
        <span class="bg-blue-200 px-4 py-2 rounded-full">
          {i18n.INTRO_TAGS[3]}
        </span>
      </div>

      <div
        class="flex justify-end lg:items-start items-center order-3 text-center md:text-right"
      >
        <p
          class="*:text-white *:font-semibold *:text-balance text-balance w-full md:max-w-56"
          set:html={i18n.INTRO_DETAILS[2]}
        />
      </div>
    </div>
  </div>
</section>

<style>
  .clip-star {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
</style>
