---
import { getI18n } from "@/i18n";
import Link from "../Link.astro";
import Badge from "../Badge.astro";
import { Image } from "astro:assets";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<section
  class="relative hero md:pt-0 pt-8 h-dvh flex-col grid md:grid-cols-2 grid-cols-1 justify-start gap-4"
  id="#"
>
  <div
    class="flex flex-col items-start justify-center gap-y-3 md:order-1 order-last relative"
    id="intro"
  >
    <div class="flex gap-4">
      <a
        href="https://linkedin.com/in/jeffercbs"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center transition md:justify-center md:hover:scale-105"
      >
        <Badge>{i18n.INTRO_BADGE}</Badge>
      </a>
    </div>
    <h1
      class="font-bold tracking-tight text-5xl text-white"
      set:text={i18n.INTRO_TITLE}
    />

    <p class="md:max-w-xl text-xl md:text-2xl">
      <span>{i18n.INTRO_DESCRIPTION.FIRST}.</span>
      <span class="text-red-200">{i18n.INTRO_DESCRIPTION.SECOND}.</span>
      <span class="text-yellow-200">{i18n.INTRO_DESCRIPTION.THIRD}</span>
    </p>

    <nav class="flex flex-wrap md:max-w-[400px] gap-4 mt-8">
      <Link href="https://linkedin.com/in/jeffercbs" icon="linkedin" external>
        Linkedin
      </Link>
      <Link href="https://github.com/jeffercbs" icon="github" external>
        Github
      </Link>
      <Link href="mailto:jebarrero14@gmail.com" icon="mail" external>
        jebarrero14@gmail.com
      </Link>
      <Link href="/summary" icon="check">summary </Link>
    </nav>
  </div>
  <div class="relative grid place-content-center">
    <div
      class="size-fit bg-green-200 p-5 rounded-full relative overflow-hidden"
    >
      <Image
        src="/yo.png"
        width="400"
        height="400"
        class="object-contain aspect-square md:size-[400px] size-[250px] rounded-full"
        alt="i am jeffercbs"
      />
    </div>
  </div>
</section>
