---
import { TOTAL_CLIENTS, TOTAL_PROJECTS } from "@/constants";
import { getI18n } from "@/i18n";
import { Image } from "astro:assets";
import Iam from "@/assets/yo.jpg";
import { SOCIAL_LINKS } from "@/constants";
import { Icon } from "astro-icon/components";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<section
  id="me"
  class="min-h-dvh h-fit grid place-content-center md:pt-24 pb-16 pt-20 relative"
  style="background: var(--gradient);"
>
  <div
    class="flex flex-col my-auto space-y-2 w-full md:max-w-4xl mx-auto md:px-0 px-2"
  >
    <div class="flex items-center gap-4 mb-10">
      <div
        class="relative w-16 h-16 rounded-full overflow-hidden border-2 border-white/20"
      >
        <Image
          src={Iam}
          alt="Profile"
          width="64"
          height="64"
          class="object-cover"
        />
      </div>
      <div>
        <div
          class="dark:bg-white/20 bg-black/20 text-white backdrop-blur-md px-4 py-1 rounded-full inline-block mb-2"
        >
          <span class="text-primary-forground font-semibold">
            {TOTAL_PROJECTS}+
          </span>
          <span class="text-sm ml-1">
            {i18n.PROJECTS_COMPLETED}
          </span>
        </div>
      </div>
    </div>

    <div class="*:text-balance">
      <span
        class="bg-primary w-full dark:bg-primary-forground text-primary-forground md:px-2 dark:text-primary rounded-lg font-bold md:text-6xl text-3xl"
        set:text={i18n.QUOTE_TITLE[0]}
      />
      <h1
        class="dark:text-blue-100 md:text-7xl text-4xl animate-fade-in"
        set:text={i18n.QUOTE_TITLE[1]}
      />
    </div>

    <blockquote
      class="text-base md:text-xl font-medium dark:text-sky-50 text-black opacity-80 border-l-4 border-sky-10 pl-4 my-8"
    >
      "{i18n.QUOTE_Q}"
    </blockquote>

    <div class="flex flex-wrap gap-x-4 py-4">
      {
        SOCIAL_LINKS.map((item) => (
          <a
            href={item.url}
            aria-label={`${item.name} social link`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon
              name={item.name}
              class="size-7  hover:scale-105 transition-transform ease-in-out"
            />
          </a>
        ))
      }
    </div>

    <div
      class="grid grid-cols-3 animate-slide-up dark:bg-zinc-800/50 bg-zinc-800/60 text-white/80 p-4 rounded-xl *:text-center mt-10 md:px-20"
    >
      <div class="flex flex-col items-center border-r-2 border-white/60">
        <h3 class="font-bold text-xl md:text-2xl mb-1">
          {i18n.YEAR_EXPERIENCE}
        </h3>
        <small>
          {i18n.YEAR_EXPERIENCE_DESC}
        </small>
      </div>

      <div class="flex flex-col items-center border-r-2 border-white/60">
        <h3 class="font-bold text-xl md:text-2xl mb-1">
          {TOTAL_CLIENTS}+
        </h3>
        <small>
          {i18n.HAPPY_CLIENTS}
        </small>
      </div>

      <div class="flex flex-col items-center">
        <h3 class="font-bold text-xl md:text-2xl mb-1">100%</h3>
        <small>
          {i18n.SATISFACTION}
        </small>
      </div>
    </div>
  </div>
</section>
