---
import { formatDate } from "@/utils/format_date";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">;
const {
  slug,
  data: { title, description, cover, created },
} = Astro.props;
---

<article class="max-h-36 h-full group border-b border-neutral-200/50">
  <div class="flex flex-col md:flex-row gap-8 items-start">
    <div class="flex-1 flex flex-col justify-between space-y-9 relative">
      <div>
        <a
          href={`/blog/p/${slug}`}
          class="group-hover:text-green-200 transition-colors ease-in-out duration-300"
        >
          <h1
            transition:name={`title-${title}`}
            class="text-3xl font-bold tracking-tight"
            set:text={title}
          />
        </a>
        <p class="text-xl text-neutral-300" set:text={description} />
      </div>
      <div class="flex items-center gap-4 text-sm text-neutral-300">
        <span class="font-medium" set:text={formatDate(created)} />
      </div>
    </div>

    <div
      class="relative w-full h-60 md:h-32 md:w-fit rounded-lg overflow-hidden"
    >
      <Image
        src={cover}
        alt="Blog post illustration"
        fit="contain"
        width={250}
        height={250}
        class="aspect-video size-full group-hover:scale-125 transition-transform duration-300"
      />
    </div>
  </div>
</article>
